<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDesk</title>

    
    <link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:7474/style.css" />
    <link rel="stylesheet" href="http://localhost:7474/switch.css">
</head>
<body>
    <!-- <% if (popout == true) { %> 
        <div class="titlebar">
            Test
        </div>
    <% } %> -->

    <div class="offcanvas offcanvas-start offcanvas-dark bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">GroupDesk - Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Change some settings of GroupDesk. Open this menu with M. <br>INFO: When you change something, the page will be reloaded. All unsaved changes you made will be lost.
          </div>
          <!-- <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div> -->
          <form action="/changeConfig" method="post">
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" name="showBar" <% if(config.showBar == true) {%>
                    checked
                  <% } %> />
                <div class="slider round"></div>
            </label>
            Show Navbar<br>

            <label class="switch" for="checkbox2">
                <input type="checkbox" id="checkbox2" name="editmode" <% if(config.editmode == true) {%>
                    checked
                  <% } %> />
                <div class="slider round"></div>
            </label> Edit Mode<br>

              <input type="submit" value="Submit" class="btn btn-success">

            </form>

            <br>

            <% if (popout == true) { %> 
                <btn class="btn btn-outline-success" onclick="popout()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                  </svg> Popout</btn>
            <% } else { %> 
                <btn class="btn btn-outline-warning" onclick="popout()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                  </svg> Popout</btn>
            <% } %>
        </div>
      </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  <% if(config.showBar == false) { %>
        d-none
    <% } %>"><div class="container-fluid">
        <div>
            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </button>
            <button class="btn btn-dark" onclick="editmode()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
            </button>
        </div>
    </div></nav>
    
    <div class="container">
        <h1>Welcome to GroupDesk!</h1>

        <div class="row">
            <% cards.forEach((card) => { %>
                <div class="col-lg-4 col-6">
                    <div class="card bg-dark <%=card.tcolor%>" style="background-color: <%=card.color %>; color: <%=card.tcolor%>">
                        <div class="card-body">
                            <!-- <form action="" method="post" name="card1">
                                <input type="text" name="title" id="title" placeholder="Title..." class="textcardheader">
                                <input type="text" name="content" id="content" placeholder="Input...">
                            </form> -->
                            <h5><%= card.name %></h5>
                            
                            <% if(card.type == "text")  { %>
                                <p><%- card.val.replace("\n", "<br>") %></p>
                            <% } else if(card.type == "url") {%>
                                <a href="<%= card.val %>"><%= card.ph %></a>
                            <% } else if (card.type == "date") { %>
                                <p class="dateCardDisplay"></p>
                            <% } else if (card.type == "time") { %>
                                <p class="timeCardDisplay"></p>
                            <% } else if (card.type == "file") { %>
                                <a href="/openFiles/<%=card.id%>"><%=card.text%></a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% })%>

            <% if(config.cards[0] == undefined)    { %> 
                <div class="nothing col-12">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5>Nothing...</h5>
                            <p>Add something with the Edit Mode (M -> Edit Mode)!</p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>


    </div>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;};</script>

    <script src="http://localhost:7474/jquery.js"></script>
    <script src="http://localhost:7474/bootstrap.bundle.min.js"></script>
    <script>
        $('html').keypress(function(e) {
            if (e.keyCode == 109) {
                $('#offcanvasExample').toggleClass('show')

                var myOffcanvas = document.getElementById('offcanvasExample')
                var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                
                bsOffcanvas.show()
            }
        });

        $('body').on('click', 'a', (event) => {
            event.preventDefault();
            let link = event.target.href;
            require("electron").shell.openExternal(link);
        });

        $('.dateCardDisplay').text(checkDate())
        $('.timeCardDisplay').text(checkTime())

        setInterval(() => {
            $('.dateCardDisplay').text(checkDate())
            $('.timeCardDisplay').text(checkTime())
        }, 1000)

        function checkDate()    {
            let date = new Date()
            let day = date.getDate()
            let month = date.getMonth() + 1
            let year = date.getFullYear()
            if(month < 10)  {
                month = `0${month}`
            }

            if(day < 10)  {
                day = `0${day}`
            }

            let dateString = `${day}.${month}.${year}`
            return dateString;
        }

        function editmode() {
            window.location.replace("/editmode")
        }

        function checkTime()    {
            let date = new Date()
            let hour = date.getHours()
            let minutes = date.getMinutes()
            if(hour < 10)  {
                hour = `0${hour}`
            }

            if(minutes < 10)  {
                minutes = `0${minutes}`
            }

            let dateString = `${hour}:${minutes}`
            return dateString;
        }

        function popout() {
            window.location.replace("/popout")
        }
    </script>

    <script>if (window.module) module = window.module;</script>
</body>
</html>